* {
	box-sizing: border-box;
}

body {
	margin: 0; /* override browser default */
	font-family: Arial, sans-serif;
	background-color: #3F94E7;
	width: 100%;
}

.logo-header {
	display: block;  /* needs to be block to get centering to work */
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.signup-form {
	display: block;
	width: 400px;
	padding: 40px;
	background-color: white;
	margin: 20px auto;
}

.form-title {
	font-size: 50px;
	color: gray;
	margin-bottom: 20px;
}

.form-field > label {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}

.form-field > input {
	width: 320px;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 16px;
}

.button {
	padding: 15px;
	height: 55px;
	width: 320px;
	margin-bottom: 20px;
	background-color: #65c470;
	text-align: center;
	font-size: 25px;
}

.center {
	text-align: center;
}

.gray, .gray a {
	color: gray;
}

.white, .white a{
	color: white;
}
